//- each in else는 javascript에는 없는 문법
extends base
include mixins/video

block content 
    h2 Welcome here you will se the trending video
   
    each item in videos
        +video(item)
    else  
        li Sorry nothing 